

<head>
<style type="text/css">
.style1 {
        font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 20px;
        color: #8A8B8D;
        line-height: 1.5em;
}
.style2 {
        color: #008000;
}
.style3 {
        color: #8A8B8D;
}
.style4 {
        text-align: center;
}
.style5 {
        border-width: 0px;
}
</style>
</head>

<div dir="ltr">
        <div class="gmail_quote">





    <div marginwidth="0" marginheight="0" style="margin:0;padding:0;width:100%">

<div style="background:#f5f5f5 url('https://getstowaway.com/images/stowaway/newsletter/tile.png'); width:100%">
  <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0;padding:0;height:100%;width:100%">
          <tbody><tr>
              <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="550">
            <tbody><tr>
              <td style="padding:0 15px 0 15px">

                            <table valign="bottom" border="0" cellpadding="0" cellspacing="0" width="520" height="40">
                                <tbody><tr>
                                    <td valign="bottom">
                                        <img width="520" height="5" valign="bottom" src="https://getstowaway.com/images/stowaway/newsletter/top.png" alt="Stowaway" style="max-width:520px;display:block;border:none;font-size:14px;font-weight:bold;min-height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize">
                                    </td>
                                </tr>
                            </tbody></table>
                          <table bgcolor="white" border="0" cellpadding="36" cellspacing="0" width="520" style="border:1px solid #e6e6e6;border-bottom:none;border-top:none;background-color:#ffffff" background="white">
                  <tbody><tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0" width="445">
                                    <tbody><tr>
                                        <td align="center" valign="top">

                                            <table border="0" cellpadding="0" cellspacing="0" width="445" style="border-bottom:0">
                                                  <tbody><tr>
                                                      <td style="color:#202020;font-family:Helvetica,Arial;font-size:34px;font-weight:bold;line-height:100%;padding:0;text-align:left;vertical-align:middle; width: 227px;">
                                                                  &nbsp;<img alt="Stowaway Ride Receipt" src="https://getstowaway.com/images/stowaway/newsletter/stowaway-200px.png" width="200" height="23"></td>
                                                      <td style="text-align:right;color:#808080;font-size:13px;font-style:italic;font-family:Helvetica,Arial">
                                                          Captain
                                                          Ride Receipt</td>
                                                      <td style="text-align:right;width:50px">
                                                          &nbsp;<img alt="Stowaway Ride Receipt" src="https://getstowaway.com/images/stowaway/newsletter/wheel.png" width="40" height="42"></td>
                                                  </tr>
                                              </tbody></table>
                                          </td>
                                      </tr>
                                    <tr>
                                        <td align="center" valign="top">

                                            <table border="0" cellpadding="0" cellspacing="0" width="445">
                                                <tbody><tr>
                                                      <td valign="top" style="background-color:#ffffff">

                                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                              <tbody><tr>
                                                                  <td valign="middle">
                                        <table border="0" cellpadding="0" cellspacing="0" width="445" height="0" style="border-bottom:1px solid #e6e6e6">
                                          <tbody><tr>
                                            <td> </td>
                                          </tr>
                                        </tbody></table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="445" height="30">
                                          <tbody><tr>
                                            <td> </td>
                                          </tr>
                                        </tbody></table>

                                                                      <div style="color:#505050;font-family:Helvetica,Arial;font-size:14px;line-height:150%;text-align:left"><div style="color:#505050;font-family:Helvetica,Arial;font-size:14px;line-height:150%;text-align:left">

                                                                                    <div style="color:#515151;font-family:Helvetica,Arial;font-size:14px;line-height:150%;text-align:left">
                        <h1 align="center" style="text-align:center;line-height:1.2em;" class="style1">
            Thanks for riding with Stowaway!<br>
            <br>
            <span class="style2">You saved <%= @receipt.savings_percentage %>% on this ride.<br>
            <br>
            <% if @receipt.credited_amount > 0.00 %>
              Your Stowaway account has been credited with <%= number_to_currency(@receipt.credited_amount) %> for future rides. </span></h1>
            <% end %>

    <% if @receipt.request.ride.riders.count > 1 %>
      <p style="color:#8a8b8d;padding:0 12px" align="center">Ride with <%= @receipt.request.ride.riders.map(&:first_name).join(',') %> on <%= l @receipt.request.ride.created_at.in_time_zone("Pacific Time (US & Canada)"), format: :long %></p>
    <% else %>
      <p style="color:#8a8b8d;padding:0 12px" align="center">Solo ride on <%= l @receipt.request.ride.created_at.in_time_zone("Pacific Time (US & Canada)"), format: :long %></p>
    <% end %>
    <br>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
            <td align="center">&nbsp;</td>

        </tr>
    </tbody></table>
    <br>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:#7f8082; font-size:14px;">
        <tbody><tr>
            <td>Pickup:</td>
            <td align="right"><%= @receipt.pickup_location %></td>
        </tr>
        <tr>
            <td>Drop Off:</td>
            <td align="right"><%= "near #{@receipt.request.dropoff_address}" %></td>
        </tr>
    </tbody></table>
    <br>
    <table cellspacing="0" style="width:100%;border-bottom:1px solid #a4a6ab;color:#717171;padding-bottom:3px">
        <tbody>
                                                <tr>
                        <td>Ride <i><%= @receipt.distance.round(2) %> mi:</i></td>
                        <td style="text-align:right">You Saved <%= (@receipt.savings * 100).round %>%</td>
                    </tr>
                                                                                            </tbody>
    </table>
        <table cellspacing="0" style="width:100%;color:#717171;padding-top:3px">
        <tbody>
          <% if @receipt.payment.fee > 0 %>
            <tr>
                <td><strong style="color:#7a7a7a">Stowaway grouping fee:</strong></td>
                <td style="text-align:right"><strong style="color:#7a7a7a"></strong><span style="color:#7a7a7a"><%= number_to_currency(@receipt.payment.fee) %> </td>
            </tr>
          <% end %>
            <tr>
                <td><strong style="color:#7a7a7a">Total credited to your
        account:</strong></td>
                <td style="text-align:right"><strong style="color:#7a7a7a"></strong><span style="color:#7a7a7a"><%= number_to_currency(@receipt.credited_amount) %> </td>
            </tr>
                        </span>
                        <tr>
                <td colspan="2"> </td>
            </tr>
        </tbody>
    </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="445" height="35">
            <tbody><tr>
                <td>

                </td>
            </tr>
        </tbody></table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
        <td valign="middle" style="width:80%;padding-left:25px">
            <h1 style="font-size:20px;margin-top:0px" class="style3">Stowaway is
      better with friends!</h1>
        </td>
    </tr>
</tbody></table>
<table border="0" cellpadding="0" cellspacing="0" width="445" height="0" style="border-bottom:1px solid #e6e6e6;margin-bottom:20px">
    <tbody><tr>
        <td class="style4">
             <br>
      <a href="https://www.facebook.com/dialog/feed?picture=https://getstowaway.com/images/fb_icon.png&amp;%20%20%20%20%20%20%20%20%20%20%20%20app_id=614476495254253&amp;%20%20%20%20%20%20%20%20%20%20%20%20link=https://getstowaway.com&amp;description=I%20just%20saved%20big%20on%20my%20last%20private%20taxi%20ride%20by%20using%20Stowaway!%20%20You%20can%20too:%20https://getstowaway.com&amp;%20%20%20%20%20%20%20%20%20%20%20%20redirect_uri=http://www.facebook.com&amp;">
          <img alt="Facebook Share" src="https://getstowaway.com/images/stowaway/newsletter/fb-share.png" width="126" height="36" class="style5"></a>
      <a href="http://twitter.com/share?text=I%20just%20saved%20big%20on%20my%20last%20private%20taxi%20ride%20by%20using%20Stowaway!%20%20You%20can%20too:%20&amp;url=https://getstowaway.com">
      <img alt="Twitter Share" src="https://getstowaway.com/images/stowaway/newsletter/tw-share.png" width="126" height="36" class="style5"></a>
      <a href="mailto:?subject=I%20became%20a%20Stowaway%20and%20got%20two%20free%20rides%20in%20SF&amp;body=Shiver%20me%20timbers!%20I%20just%20joined%20Stowaway%20and%20got%20two%20free%20rides%20around%20the%20city.%20%20You%20can%20too:https://getstowaway.com">
      <img alt="Email Share" src="https://getstowaway.com/images/stowaway/newsletter/em-share.png" width="126" height="36" class="style5"></a><br>
    </td>
    </tr>
</tbody></table>
        <div style="padding-top:24px;color:#8a8b8d;font-style:italic;font-size:12px;text-align:center">
            </div>
    <div style="color:#8a8b8d;font-style:italic;font-size:12px;text-align:center">
      Questions? Email
    <a href="mailto://support@stowaway.com" style="color:#4f3f2c;font-weight:normal;text-decoration:none;text-align:center" target="_blank">
    support@stowaway.com</a>
    </div>
</div>

                                                                                                                                                                    </div>
                                                                                </div>
                                      </td>
                                                              </tr>
                                                          </tbody></table>

                                                      </td>
                                                  </tr>
                                              </tbody></table>
                                          </td>
                                      </tr>

                      </tbody></table>
                                </td>
                              </tr>
                            </tbody></table>

                            <table border="0" cellpadding="0" cellspacing="0" width="520">
                                <tbody><tr>
                                    <td valign="top">
                                      <img src="https://getstowaway.com/images/stowaway/newsletter/bottom.png" style="max-width:520px;border:none;font-size:14px;font-weight:bold;min-height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize;display:block" width="520" height="20">
                                    </td>
                                </tr>
                            </tbody></table>

                <table border="0" cellpadding="5" cellspacing="0" width="520">
                              <tbody><tr>
                                  <td align="center" valign="top">
                                      <table border="0" cellpadding="0" cellspacing="0" width="510">
                                          <tbody><tr>
                                              <td valign="top">

                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                       <tbody><tr>
                                                            <td colspan="2" valign="middle">
                                                                <div style="color:#b3b3b3;font-family:Helvetica,Arial;font-size:11px;line-height:125%;text-align:center">
                                                                                                        ©
                                    Stowaway
                                    Group |
                                    111 New
                                    Montgomery
                                    Street,
                                    San
                                    Francisco
                                    CA 94105


                                                                    <br>
                                                                    <br>
                                                                    </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="middle" width="520">
                                                                <br>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>

                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
                </td>
            </tr>
        </tbody></table>
    </center>
</div>
   </div><br></div>
